body{
	width: 980px;
	top: 30px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	margin: auto;
	margin-top: 10px;
	font-family: Verdana;
}

#header{
	margin-left: 100px;
	margin-top: 30px;
	font-size: 140%;
}


.counties {
	fill: none;
}

.states {
	fill: none;
	stroke: grey;
	stroke-linejoin: round;
}

.select {
	margin-top: 8px;
	height: 34px;
	overflow: hidden;
	border: 1px solid #ccc;
	font-size: 100%;
 }

#selectPer{
	width: 160px;
}

#selectType{
	width: 280px;
}