div.tooltip {
  position: absolute;
  width: 200px;
  padding: 8px;
  font: 12px sans-serif;
  background: #fff;
  border: solid 1px #aaa;
  border-radius: 8px;
  pointer-events: none;
}

.boldDetail{
  font-weight: bold;
}

.normalDetail{
  font-weight: normal;
  text-align: right;
}

#countyName{
  font-size:130%;
  font-weight: bold;
}